*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #contain{
    height: 400px;
    width: 90%;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;

} 

#sec,#min,#hr{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    border-radius: 0 50% 50% 0%;
    transform-origin: left;
    transform: rotate(-90deg);
}


#hr{
    height: 8px;
    width: 20%;
    background-color: blue;
}
#min{
    height: 5px;
    width: 25%;
    background-color: brown;
}
#sec{
     height: 2px;

    width:32%;
}
img{
    height: 400px;
    max-width: 400px;
    border-radius: 50%;
    position: relative;
    filter:sepia()
}
#dot{
    display: flex;
    height: 30px;
    /* width: 90%; */
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    background-color: black;
    margin-top:-54%;
    margin-left: 45%;

}